
/* breakpoint MD */
@media screen and (min-width: 768px) {
    /* classi header */
    header{
        height: 70px;
    }

    .sony-logo{
        width: 150px;
    }

    header .play-logo{
        width: 50px;
    }

    /* classi main */
    .bg-jumbotron{
        margin-top: 83.6px;
    }
}

/* breakpoint LG */
@media screen and (min-width: 992px) {
    .bg-jumbotron img{
        width: 75%;
    }

    .w-lg-50{
        width: 50%;
    }
}