:root{
    --dark-color: #1f1f1f;
}


.content{
    width: 100%;
    height: 25px;
    background-color: cornflowerblue;
    border: 1px dashed blue;
    padding: 2px;
    border-radius: 8px;
}


/* classi per l'header */
header{
    z-index: 10;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
}

header .sony-logo{
    width: 100px;
    display: block;
}

header .play-logo{
    width: 30px;
}

/* classi main */

section{
    margin-top: 40px;
    border: 1px dashed darksalmon;
}

/* prima section o jumbotron */

.bg-jumbotron{
    margin-top: 50px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* quinta section */

.bg-it-takes-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* sesta section */

.bg-dark{
    background-color: var(--dark-color);
}

.bg-dark .card{
    --bs-card-border-color: transparent;
    border: none;
    background-color: transparent;
}

.bg-dark .card .card-img-top{
    border-radius: 16px;
}

/* ottava section */

.bg-gray{
    background-color: #cbc9c9;
}

.full-section{
    height: 100%;
    display: block;
    max-width: 500px;
}
